################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/DDD_Sample/src/Domain/obj/Debug
